<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Org-Init>
    <Node>
        <id>1</id>
        <name>公安部</name>
        <code>00</code>
        <description>中心节点</description>
    </Node>
    <Orgs>
        <Organization>
            <name>公安部</name>
            <code>00</code>
            <status>1</status>
        </Organization>
        <Organization>
            <name>广东省公安厅</name>
            <code>00-C-001</code>
            <status>1</status>
        </Organization>
        <Organization>
            <name>广西省公安厅</name>
            <code>00-C-002</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>云南省公安厅</name>
            <code>00-C-003</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>贵州省公安厅</name>
            <code>00-C-004</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>四川省公安厅</name>
            <code>00-C-005</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>湖南省公安厅</name>
            <code>00-C-006</code>
            <status>1</status>
        </Organization>
        <Organization>
            <name>长沙市公安局</name>
            <code>00-C-006-C-0000</code>
            <status>1</status>
        </Organization>
        <Organization>
            <name>深圳市公安局</name>
            <code>00-C-001-C-0000</code>
            <status>1</status>
        </Organization>
        <Organization>
            <name>惠州市公安局</name>
            <code>00-C-001-C-0001</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>广州市公安局</name>
            <code>00-C-001-C-0002</code>
            <status>1</status>
        </Organization>
        <Organization>
            <name>湛江市公安局</name>
            <code>00-C-001-C-0003</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>深圳市南山区公安局</name>
            <code>00-C-001-C-0001-C-0001</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>深圳市宝安区公安局</name>
            <code>00-C-001-C-0001-C-0002</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>深圳市罗湖区公安局</name>
            <code>00-C-001-C-0001-C-0003</code>
            <status>0</status>
        </Organization>
        <Organization>
            <name>深圳市光明区公安局</name>
            <code>00-C-001-C-0001-C-0005</code>
            <status>0</status>
        </Organization>
    </Orgs>
</Org-Init>
